<div class="container-fluid px-0 row">
    <div class="col-md-6">
        <h1>Where Is The Thing App</h1>
        <hr />
        <br />

        <div class="row">
            <div class="col-2">
                <a [routerLink]="['/log-in']" class="btn btn-primary">Log in</a>
            </div>
            <div class="col-2">
                <a [routerLink]="['/sign-up']" class="btn btn-primary"
                    >Sign up</a
                >
            </div>
        </div>

        <br /><br /><br />

        <app-current-state [authState]="getAuthState$ | async">
        </app-current-state>
    </div>
</div>
