<div class="container-fluid px-0 row">
    <div class="col-md-6">
        <h1>Where Is The Thing App</h1>
        <hr />
        <br />

        <p>
            You logged in <em>{{ (user$ | async).email }}!</em>
        </p>

        <h3>Available Entities</h3>
        <a routerLink="add" class="btn btn-sm btn-success mb-2 mr-2"
            >Add Entity</a
        >
        <a routerLink="put" class="btn btn-sm btn-success mb-2">Put Entity</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Description</th>
                    <th>Type</th>
                    <th>Volume</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <ng-template
                    #recursiveTable
                    let-child="child"
                    let-availableItems
                >
                    <ng-container *ngFor="let availableItem of availableItems">
                        <tr>
                            <td>{{ availableItem.id }}</td>
                            <td>{{ availableItem.description }}</td>
                            <td>{{ availableItem.type }}</td>
                            <td>{{ availableItem.volume }}</td>
                            <td style="white-space: nowrap">
                                <a
                                    routerLink="edit/{{ availableItem.id }}"
                                    class="btn btn-sm btn-primary mr-1"
                                    >Edit</a
                                >
                                <button
                                    (click)="removeItem(availableItem.id)"
                                    class="btn btn-sm btn-danger btn-delete-user"
                                >
                                    Delete
                                </button>
                            </td>
                        </tr>
                        <ng-container *ngIf="availableItem.items?.length > 0">
                            <ng-container
                                *ngTemplateOutlet="
                                    recursiveTable;
                                    context: {
                                        $implicit: availableItem.items,
                                        child: true
                                    }
                                "
                            ></ng-container>
                        </ng-container>
                    </ng-container>
                </ng-template>
                <ng-container
                    *ngTemplateOutlet="
                        recursiveTable;
                        context: { $implicit: availableItems, child: 0 }
                    "
                ></ng-container>
                <tr *ngIf="!availableItems">
                    <td colspan="4" class="text-center">
                        <span
                            class="spinner-border spinner-border-lg align-center"
                        ></span>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="col px-0 mb-2">
            <button class="btn btn-primary" (click)="logOut()">Log out</button>
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Available Items JSON</h5>
                <pre>{{ availableItems | json }}</pre>
            </div>
        </div>

        <br /><br /><br />

        <app-current-state [authState]="getAuthState$ | async">
        </app-current-state>
    </div>
</div>
