/* You can add global styles to this file, and also import other style files */
html,
body {
    min-width: fit-content;
}

.container-fluid {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.me-1 {
    margin-right: 10px;
}
